mixin _card(block_name, item)
    h3(class=`${block_name}__card-header card__header`)= item.title
    img(class=`${block_name}__card-img card__image` src= item.img)
    p(class=`${block_name}__card-text card__text`)= item.text