mixin _list(block_name, items, mixin)
    ul(class=`${block_name}__list ${mixin}`)
        each item in items
            li(class= `${block_name}__item`)
                a(href= `${item.link}`)= item.title