@use "../variables";
@import "./media";

@mixin container {
    box-sizing: border-box;
    min-width: map-get($widths, xs);
    padding-right: $gap-sm;
    padding-left: $gap-sm;
    margin-right: auto;
    margin-left: auto;
  
    @include media-min(md) {
      min-width: map-get($widths, md);
      padding-right: $gap-md;
      padding-left: $gap-md;
    }
    @include media-min(lg) {
      min-width: map-get($widths, lg);
      padding-right: $gap-lg;
      padding-left: $gap-lg;
    }
    @include media-min(xl) { width: map-get($widths, xl); }
  }
  