@include "./"
$input-padding-x: .75rem;
$input-padding-y: .375rem;
// $form-feedback-icon-valid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'><path fill='var(--color-green)' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/></svg>");
// $form-feedback-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='var(--color-red)'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='var(--color-red)' stroke='none'/></svg>");

@mixin input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  // background: var(--theme-bg);
}
@mixin is-invalid {
  padding-right: calc(1.5em + .75rem);
  // background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.29 3.85996L1.82 18C1.64537 18.3024 1.55296 18.6453 1.55199 18.9945C1.55101 19.3437 1.64149 19.6871 1.81442 19.9905C1.98736 20.2939 2.23672 20.5467 2.53771 20.7238C2.83869 20.9009 3.1808 20.9961 3.53 21H20.47C20.8192 20.9961 21.1613 20.9009 21.4623 20.7238C21.7633 20.5467 22.0126 20.2939 22.1856 19.9905C22.3585 19.6871 22.449 19.3437 22.448 18.9945C22.447 18.6453 22.3546 18.3024 22.18 18L13.71 3.85996C13.5317 3.56607 13.2807 3.32308 12.9812 3.15444C12.6817 2.98581 12.3437 2.89722 12 2.89722C11.6563 2.89722 11.3183 2.98581 11.0188 3.15444C10.7193 3.32308 10.4683 3.56607 10.29 3.85996V3.85996Z' stroke='var(--color-red)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 9V13' stroke='var(--color-red)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 16V16.5' stroke='var(--color-red)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .188rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
  // background: var(--theme-bg);
}
@mixin form-text {
  @include input;

  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  // color: var(--theme-fg);
  // background-color: var(--theme-bg);
  background-clip: padding-box;
  // border: 1px solid var(--theme-border);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  appearance: none;

  &:focus {
    // border-color: var(--theme-border-focus);
    outline: 0;
    box-shadow: 0 0 0 .2rem hsla(208, 11%, 71%, .25);
  }

  &::placeholder {
    color: var(--color-b4);
    opacity: 1;
  }
}
@mixin form-floating {
  position: relative;

  > label {
    position: absolute;
    top: $input-padding-y;
    left: $input-padding-x - .15rem;
    padding: 0 .15rem;
    // color: var(--color-b4);
    white-space: nowrap;
    pointer-events: none;
    // background-image: linear-gradient(to bottom, var(--theme-bg) 0%, var(--theme-bg) 55%, var(--theme-transparent) 100%);
    transition: transform .1s ease-in-out;
    transform-origin: 0 0;
  }

  > [type="date"],
  > [type="email"],
  > [type="number"],
  > [type="password"],
  > [type="search"],
  > [type="tel"],
  > [type="text"],
  > [type="url"],
  > select,
  > textarea {
    &:focus,
    &:not(:placeholder-shown) { ~ label { transform: scale(.65) translateX(.25rem) translateY(-1.75rem); } }
    // &:valid { border-color: var(--color-blue); }
    &::placeholder { color: transparent; }
  }
}
@mixin form-error {
  > [type="email"],
  > [type="number"],
  > [type="password"],
  > [type="search"],
  > [type="tel"],
  > [type="text"],
  > [type="url"],
  > textarea {
    // border-color: var(--color-red) !important; // без !important специфичность ниже чем у &:valid
    &:focus { box-shadow: 0 0 0 .25rem hsla(var(--hue-red), 86%, 50%, .25); }
  }
}
@mixin errors-list {
  padding-left: 0;
  font-size: .85rem;
  color: var(--color-red);
  list-style-type: none;

  li::before { content: "🔹 "; }
}
@mixin form-submit {
  @include btn-primary;

  width: 100%;
  margin-top: 1.5rem;

  @include media-min(xl) { justify-content: center; }
}
@mixin form-checkbox-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  &:last-child { margin-bottom: 0; }

  > label {
    padding-left: 12px;
    margin-bottom: 0;
    cursor: pointer;
  }
}
@mixin form-checkbox {
  position: relative;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--theme-border);
  border-radius: 4px;
  appearance: none;

  &:disabled {
    background-color: var(--theme-border-focus);
    border-color: var(--theme-border-focus);

    + label { color: var(--theme-border-focus); }
  }

  &:checked {
    background-color: var(--theme-control);
    border-color: var(--theme-control);

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 12px;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 15 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 7.5L5 11L13 2' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      transform: translate(-50%, -50%);
    }
  }
}
@mixin form-radio {
  padding-left: 0;
  list-style-type: none;

  > li { @include form-checkbox-wrap; }

  [type="radio"] {
    position: relative;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--theme-border);
    border-radius: 50%;
    appearance: none;

    &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 18px;
      height: 18px;
      margin-top: -9px;
      margin-left: -9px;
      content: "";
      background-color: var(--theme-control);
      border-radius: 50%;
      transition: .2s ease-in-out;
      transform: scale(0);
    }

    &:disabled {
      background-color: var(--theme-border-focus);
      border-color: var(--theme-border-focus);

      + label { color: var(--theme-border-focus); }
    }

    &:checked {
      border-color: var(--theme-control);
      border-width: 2px;

      &::before { transform: scale(1); }
    }
  }
}
