include ../mixin-elements/_mixins
include ../layouts/_header
include ../datas/index-data
include ../datas/form-data
main.page
	h1 Мой шаблон
	h2.title Привет!
	h3.title--minor Пока!
	button.page__large-button Привет
	button.page__button Ну
	button.page__second-button Пока
	+_list('intro', links)
	+_catalog-list('goods', cards)
	form.from
		h3.form__header Форма
		for form_input in form_inputs 
			+_input('form', form_input)
		button(type="submit") Отправить
		//- все это можно в один миксин запихать, тут главное структура данных
include ../layouts/_footer