include ../mixin-elements/_mixins
include ../layouts/_header
include ../datas/index-data
main.page
	h2.title Привет!
	h2.title--minor Пока!
	button.page__large-button Привет
	button.page__button Ну
	button.page__second-button Пока
	+_list('intro', links)
	+_catalog-list('goods', cards)
include ../layouts/_footer