-
    var form_inputs = [ [{
                          'id': 'white-cat',
                          'type': 'text',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }],
                        [{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }],
                        [{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }]
                    ]

-
    var form_inputs_second = [{
                                'fieldset': 'cat-name',
                                'inputs':[{
                                          'id': 'white-cat',
                                          'type': 'text',
                                          'name': 'white-cat',
                                          'label': 'Имя кошки'  
                                          }]
                              },{
                                'fieldset': 'cat-preferences',
                                'inputs':[{
                                          'id': 'rice',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Рис'  
                                          },{
                                          'id': 'meat',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Мясо'  
                                          },{
                                          'id': 'fish',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Рыба'  
                                          }]
                              }]