-
    const form_inputs = [{
                                'fieldset': 'name-field',
                                'inputs':[{
                                          'id': 'white-cat',
                                          'type': 'text',
                                          'name': 'white-cat',
                                          'label': 'Имя кошки',
                                          'required': 'required' 
                                          }]
                              },{
                                'fieldset': 'preferences-field',
                                'inputs':[{
                                          'id': 'rice',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Рис'  
                                          },{
                                          'id': 'meat',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Мясо'  
                                          },{
                                          'id': 'fish',
                                          'type': 'radio',
                                          'name': 'preferences',
                                          'label': 'Рыба'  
                                          }]
                              }]