-
    var form_inputs = [ [{
                          'id': 'white-cat',
                          'type': 'text',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }],
                        [{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'radio',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }],
                        [{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        },{
                          'id': 'white-cat',
                          'type': 'checkbox',
                          'name': 'white-cat',
                          'label': 'Кошка белая'  
                        }]
                    ]