-
	var links= [{
					'link':'reg.ru',
					'title':'wow'
				},{
					'link':'abc.ru',
					'title':'mew'
				}]
-
	var cards= [{
					'title':'First good',
					'img':'wow.ru/1.jpg',
					'text':'hello. my name is Ivan'
				},{
					'title':'Second good',
					'img':'wow.ru/1.jpg',
					'text':'hello. my name is Boris'
				},{
					'title':'Second good',
					'img':'wow.ru/1.jpg',
					'text':'hello. my name is Boris'
				}]