-
    var links= [{
                    'link':'reg.ru',
                    'title':'Главная'
                },{
                    'link':'abc.ru',
                    'title':'Дополнительная'
                },{
                    'link':'reg.ru',
                    'title':'Обратная связь'
                },{
                    'link':'net.ru',
                    'title':'Оставить заявку'
                }]